html, body {
    margin:0 auto;
    margin-top: 3%;
    padding-left: 3%;
    padding-right: 3%;

    font-family: 'Franklin Gothic Book', sans-serif;
    position: center;
}
h1 {
    font-weight: 300;
    font-size: 36px;
    text-align: left; 
    margin-bottom: 1%;
}

h2 {
    float: left;
    font-size: 18px;
    font-style: bold;
}

h3 {
    float: right;
    font-size: 14px;
    font-style: italic;
}

p { 
    font-size: 14px;
    text-align: justify;
    line-height: 1.5;
}

ul {
    font-size: 14px;
    text-align: justify;
    line-height: 1.5;
}

a, .social a { 
    color: #FF6699;
    text-decoration: none;
}

a { 
    font-size: inherit;
    transition: all 0.3s ease 0s;
}

a:hover, .social a:hover { 
    color: inherit;   
}

table {
    width: 85%;
    border-collapse: collapse;
    background-color: white;
}

img {
    transition: all 0.3s ease 0s;
}

img#games {
    width: 100%;
    height: auto;
}

img#link:hover{
    opacity:0.8;
}
.gifs {
    text-align: center;
    clear:both;
}

img#gif {
    clear: right;
    width: 32%;
    height: auto;
}

img#maingif {
    clear: both;
}

video {
    float: left;
    width: 100%;
    height: auto;
}

#download {
    padding: 0.5em 0 0 0 ;
}

#gifs {
    padding: 0 0 0.5em 0;
}

.fadeslideshow {
    /*position:relative;*/
    
}

.fadeslideshow img {
    /*position:absolute;*/
}

.gamedescription {
    display: none;
    line-height: 1.5;
    margin-bottom: 5%;
    position: relative;
}


.top {
    margin-top: 0;
    margin-bottom: 1%;
}

.face{
    float: right;
}

.acb {
    text-align: left;
}

/* ABOUT PAGE */
.aboutacb {
    margin-top: 8%;
    margin-bottom: 3%;
    line-height: 1.5;
}

.navigation {
    text-align: left;
}

.social {
    position: relative;
    display: none;
    margin-top: 2%;
    margin-bottom: 2%;

    font-size:20px;
    text-align:center;
}

.container {
    width: 85%;
}

.about {  
    float:left;
}

.gamesquare {
    margin-right: 10px;
}

.event {
    clear: both;
}

.foot {
    height: 10%;
    width: 85%;
    padding-top: 5%;
    padding-bottom: 10%;

    font-size:20px;
    text-align:center;
 }