html, body {
    margin:0 auto;
    margin-top: 10%;
    height: 100%;
    width: 80%;
    font-family: 'Franklin Gothic Book', sans-serif;
    position: center;
}
h1 {
    font-weight: 300;
    font-size: 36px;
    text-align: center; 
}

h2 {
    float: left;
    font-size: 18px;
    font-style: bold;
}
h3 {
    float: right;
    font-size: 14px;
    font-style: italic;
}

p { 
    font-size: 14px;
    text-align: justify;
}

a, .social a { 
    color: #FF9999;
    text-decoration: none;
}

a { 
    font-size: inherit;
    transition: all 0.3s ease 0s;
}

a:hover, .social a:hover { 
    color: inherit;   
}

table {
    width: 80%;
}

.head {
    margin-bottom: 10%;
}

.top {
    margin-top: 5%;
    margin-bottom: 5%;
}

.face{
    float: left;
    clear: ;
}

.acb {
    text-align: center;
}

.navigation {
    text-align: center;
}

.container {

}

.about { 
    /*position: absolute;*/
    top: 40%;   
    left: 50%;
    margin-top: -350px;
    margin-left: -300px;
    width: 600px;
    height: 200px;     
    text-align: center;
}

.foot {
 }

.social {
    height:40px;
    padding-top:40px;
    padding-bottom:40px;  
    text-align:center;
    font-size:30px;
}
.gamesquare {
    float: left;
    margin-right: 10px;
    clear: left;
}

.event {
    margin-bottom: 5%;
    clear: both;
}

.game {
    margin-top: 20px;
    margin-bottom: 20px;
}
